<title>Q-CTRL pulses</title>
<h1>List of all pulses</h1>

{% if is_empty %}
  <p> No pulses in the database. </p>
{% else %}
  <ul>
    {% for item in all_pulses %}
    <li>
      <strong>{{ item.name }}:</strong>
      Pulse type : {{item.ptype}} -
      Rabi rate: {{item.max_rabi_rate}} -
      Angle: {{item.polar_angle}}
      <a href="/pulses/update/{{item.name}}/">Update</a>
      <a href="/pulses/delete/{{item.name}}/">Delete</a>
    </li>
    {% endfor %}
  </ul>
{% endif %}

{% if has_prev %}
  <a href="{{prev}}"> Previous</a>
{% endif %}
  
{% if has_next %}
  <a href="{{next}}"> Next</a>
{% endif %}



<strong> Navigation </strong> <a href="/pulses/"> Home </a>
